{%extends "LoginBundle:Default:index.html.twig" %}

{%block content %}


    <div class="container">
        <div class="row">
            <div class="col-sm-4">{{ name }}</div>
            <div class="col-sm-4">Amount available: {{ available }}</div>
            <div class="col-sm-4"><a href="{{path('logout')}}"> Logout </a></div>
        </div>
        <div class="alert-info ">{{ error }} </div>
        <h2>Loans</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Loan id</th>
            <th>Amount</th>
            <th>Avaiable Amount</th>
            <th>Invest</th>
          </tr>
        </thead>
        <tbody>
        {% for load in loads %}
          <tr>
            <td>{{ load.getId() }}</td>
            <td>{{ load.getAmount() }}</td>
            <td>{{ load.getAvailableforinvestments() }}</td>
            <td>
                <form method="POST" action="{{path('invest')}}">
                <input type="hidden" id="loand" name="loand" value="{{ load.getId() }}" />
                <div class="row">
                    <div class="col-sm-6"><input type="number" step="0.01" id="amount" name="amount" class="form-control input-sm chat-input" placeholder="amount" /></div>
                    <div class="col-sm-6"><button  type="submit" class="btn btn-primary btn-md">Invest <i class="fa fa-sign-in"></i></button></div>
                </div>
                </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>My investments</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Loan id</th>
            <th>Investment amount</th>
          </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
          <tr>
            <td>{{ investment.getLoandId() }}</td>
            <td>{{ investment.getAmount() }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{%endblock%}




